img[alt=logo] {
    max-height: 40px !important;
    display: inline-block;
}

img[alt=logo]::after {
    content: "TaskWeaver Playground";
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}